body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.container {
    background-color: rgb(255, 183, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adjusted to column direction */
    height: 100vh;
    width: 40%;
}

canvas {
    background-color: black;
    border: 2px solid rgb(0, 0, 0);
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center; /* Center the text horizontally */
    margin-bottom: 20px; /* Add margin for spacing */
}
.chartContainer {
    background-color: rgb(255, 183, 202);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 60%;
    height: 100%;
}

.bars {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #555;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: center;
    width: 50vw; /* Use viewport width as a percentage */
    height: 40vh; /* Use viewport height as a percentage */
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 10vw; /* Use viewport width as a percentage */
    height: 40vh; /* Use viewport height as a percentage */
    position: relative;
}

.bars span {
    width: 100%;
    position: absolute;
    text-align: center;
}

.bars .bar {
    display: block;
    background: #17C0EB;
    width: 80%; /* Set the width to 80% of the parent container */
    position: absolute;
    bottom: 0;
    margin-left: 10%; /* Adjust spacing as needed */
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
    transition-property: background, box-shadow;
}


.bars .bar:hover {
    background: #08f7b3;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
}

.bars .bar:before {
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}
